body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #3498DB;
	background-size: 100%;
	color: #000;
	margin: 0;
	padding: 0;

}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
	/*color: #FFFFFF;*/
}

a img {
	border: none;
}

a:link {
	color: 000000;
	text-decoration: underline; 
}
a:visited {
	color: 000000;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 960px;
	background-color: D6EAF8;
	margin: 0 auto;
}

.header {
	width: 960px;
	background-color: D6EAF8;
	background-image: url("header.png");
	background-repeat: no-repeat;
	background-position:Azure;
    background-position:left;
}

.sidebar1 {
	float: left;
	width: 180px;
	background-color:fffcef;
	padding-bottom: 0px;
	font-family:georgia,garamond,serif;
	font-style:bold;
	font-size: 20px;	
}
.content {
	text-shadow:4px 4px 8px none;
	padding: 40px 0;
	width: 960px;
	float: left;
	font-size: 20px;
	background-color: 85C1E9;
	background-color: 85C1E9;
	/*background: url("images/bgFlower.png");*/
	
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}

ul.nav {
	list-style: none;
	border-top: 2px solid #666; 
	margin-bottom: 0px;
}

ul.nav li {
	border-bottom: 2px solid #666; 
}

ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 160px;
	text-decoration: none;
	background-color: FFA07A;
}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: FAE653;
	color: #FFF;
}

.footer {
	padding: 10px 0;
	background-color: FAD7A0;
	position: relative;
	clear: both; 
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {
	float: right;
	margin-left: 8px;
}

.fltlft {
	float: left;
	margin-right: 8px;
}

.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
